@import "~assets/styles/libs/vars";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body {
  font-size: 100%;
  margin: 0;
  font-size: $bodySize;
  color: $primaryText;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $primaryColor;
  &:hover {
    color: darken($primaryColor, 0.3);
  }
  &:visited {
    color: lighten($primaryColor, 0.3);
  }
}

button {
  border: none;
  border-radius: $buttonBorderRadius;
  padding: 5px 15px;
  &.primary {
    color: $primaryWhite;
    background: $primaryColor;
    &.light {
      color: $primaryColor;
      background: $primaryWhite;
    }
  }
  &.flat {
    background: none;
    &.light {
      color: $primaryWhite;
    }
    &.dark {
      color: $primaryColor;
    }
  }
}

.d-none {
  display: none !important;
}
h1 {
  font-size: $biggestSize;
  font-weight: 700;
}
h2 {
  font-size: $biggerSize;
  font-weight: 600;
}
h3 {
  font-size: $bigSize;
  font-weight: 500;
}
h4,
title {
  font-size: $titleSize;
}
span {
  font-size: $smallSize;
  font-weight: 300;
}
