@import "~assets/styles/libs/vars";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body {
  font-size: 100%;
  margin: 0;
  font-size: $bodySize;
  color: $primaryText;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $primaryColor;
  &:hover {
    color: darken($primaryColor, 0.3);
  }
  &:visited {
    color: lighten($primaryColor, 0.3);
  }
}

.light {
  color: $primaryWhite;
}
.dark {
  color: $primaryColor;
}

button {
  i{
    color: inherit !important;
    vertical-align: middle;
  }
  border: none;
  border-radius: $buttonBorderRadius;
  padding: 5px 15px;
  transition: $transitionTime;
  &.primary {
    color: $primaryWhite;
    background: $primaryColor;
    &:hover{
      background: darken($color: $primaryColor, $amount: 10);
    }
    &.light {
      color: $primaryColor;
      background: $primaryWhite;
      &:hover{
        color: darken($color: $primaryColor, $amount: 10);
      }
    }
  }
  &.flat {
    background: none;
    &.dark:hover{
      color: darken($color: $primaryColor, $amount: 10);
    }
    &.light:hover{
      color: darken($color: $primaryWhite, $amount: 10);
    }
  }
  &.green{
    background: $green;
    &:hover{
      background: darken($color: $green, $amount: 10);
    }
  }
  &.blue{
    background: $blue;
    &:hover{
      background: darken($color: $blue, $amount: 10);
    }
  }
  &.yellow{
    background: $yellow;
    &:hover{
      background: darken($color: $yellow, $amount: 10);
    }
  }
}

.d-none {
  display: none !important;
}
h1 {
  font-size: $biggestSize;
  font-weight: 700;
}
h2 {
  font-size: $biggerSize;
  font-weight: 600;
}
h3 {
  font-size: $bigSize;
  font-weight: 500;
}
h4,
title {
  font-size: $titleSize;
}
span {
  font-size: $smallSize;
  font-weight: 300;
}
