@import "src/assets/styles/libs/vars";
@import "src/assets/styles/libs/placeholders";

.green {
  background-color: $green;
}
.yellow {
  background-color: $orange;
}
.blue {
  background-color: $blue;
}

.statusBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 50px;
  padding: 0.25em 0.75em;
  i {
    margin-left: 1em;
    font-size: 1.5em;
  }
}
