@import "src/assets/styles/libs/vars";
@import "src/assets/styles/libs/placeholders";

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  bottom: -140px;
  left: 0;
  right: 0;
  img {
    width: 540px;
    height: auto;
    border-radius: $normalBorderRadius;
    margin: 0;
    @extend %heavyBoxShadow;
  }
}
