@import "src/assets/styles/base/fonts";
@import "src/assets/styles/libs/vars";

.header {
  background: $purple;
  min-height: 530px;
  border-bottom-left-radius: 3356% 1420px;
  border-bottom-right-radius: 3356% 1420px;
}
