@import "~assets/styles/libs/placeholders";

.serviceItemContainer {
    padding:20px;
    width: 33.3333%;
  .serviceItem {
    @extend %cardboxshadow;
    min-width: 280px;
    justify-content: space-between;
    background: #fff;
    display: flex;
    padding: 2em;
    flex-direction: row;
    border-radius: 10px;
    .image {
      max-width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        max-height: 90%;
        max-width: 90%;
        display: flex;
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 20px;
      h2 {
        font-weight: 600;
        margin: 0 0 20px;
        font-size: 21px;
      }
      span {
        font-size: 21px;
      }
    }
  }
}
