@import "~assets/styles/libs/placeholders";
@import "~assets/styles/libs/vars";
.singularMemberItemContainer {
  padding: 40px 20px;
  width: 50%;
  min-width: 450px;
  .singularMemberItem {
    // min-width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    .avatar {
      width: 200px;
      position: absolute;
      display: inline-block;
      right: 0;
      img {
        max-width: 100%;
        border-radius: 100%;
      }
    }
    .content {
      @extend %cardBoxShadow;
      border-radius: 15px;
      padding-bottom: 10px;
      display: inline-block;
      margin-right: 100px;
      padding-right: 110px;
      padding-left: 20px;
      width: 100%;
      background-color: #fff;
      h4 {
        text-align: left;
        color: $primaryColor;
        margin-bottom: 0;
      }
      h3 {
        text-align: right;
        margin: 10px 0;
      }
      .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        span {
          float: right;
        }
        button {
          float: left;
          font-size: 12px;
        }
      }
    }
  }
  @media screen and(max-width:450px) {
    &:first-child {
      margin-top: 90px;
    }
    min-width: 100%;
    padding: 100px 20px;
    .singularMemberItem {
      .avatar {
        top: -170px;
        right: 50%;
        z-index: 2;
        transform: translateX(50%);
      }
      .content {
        z-index: 3;
        margin-right: 0;
        padding-right: 20px;
      }
    }
  }
}
