@import "src/assets/styles/libs/vars";
@import "src/assets/styles/libs/placeholders";
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  //   background-color: pink;
  @extend %curvedBorderRadius;
  @extend %normalSectionPadding;

  > * {
    width: 100%;
  }
  h1 {
    font-size: $normalHeaderFontSize;
    text-align: center;
    margin-bottom: 3.5rem;
  }
  .container {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    justify-content: center;
    justify-items: center;
    gap: 2.25em;
    margin-bottom: 1em;
    @media screen and(max-width:$largeDesktopBreakpoint) {
      grid-template-columns: 280px 280px;
    }
    @media screen and(max-width:715px) {
      grid-template-columns: 280px;
    }
  }
}
