@import "src/assets/styles/libs/vars";
@import "src/assets/styles/libs/placeholders";

.quotesItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2.5em;
  width: 100%;
  img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: $purple;
    font-size: 1.2em;
  }
  p {
    color: $black;
    text-align: center;
    font-size: 0.95em;
  }
}
