.p-90{
    padding-top:30px;
}
.m-100{
    margin-top:90px;
}
section {
    & > h3{
        font-size: 42px;
        text-align: center;
        margin-top:0;
    }
}
.testimonialContainer{
    max-width: 800px;
    margin: 1em auto;
    button{
        font-size: 42px;
        background: none;
        box-shadow: none;
        &:hover:enabled,&:focus:enabled{
            background: none;
            color:purple;
            box-shadow: none;
        }
    }
}
.servicesContainer,.projectsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projectsContainer{
    
}