@import "~assets/styles/libs/vars";
header {
  padding: 3em 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
  .logo {
    margin: 10px auto;
    width: 100px;
    img {
      max-width: 100%;
    }
  }
}
.pageMeta {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 1em;
  h1 {
    margin: 0;
    text-align: center;
  }
  .role {
    margin-bottom: 20px;
  }
  .meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .projectInfo {
      border-radius: 20px;
      color: $primaryWhite;
      i {
        margin-right: 10px;
      }
    }
    button {
      margin: 10px 5px;
    }

    .social {
      display: flex;
      flex-direction: row;
      & a > button {
          margin: 0;
          padding: 0;
      }
      //color:$primaryWhite;
    }
  }
}
.pageThumb {
  width: 100%;
  max-height: 100px;
  &.single {
    display: flex;
  }
  img {
    max-height: 300px;
    max-width: 95%;
    margin: auto;
  }
}
.content {
  padding-top: 140px;
}
.contentNoThumb {
  padding-top: 40;
}
.specialSection {
  margin-top: 150px !important;
  min-height: 300px;
  section {
    margin-top: -110px;
  }
}
.specialSection1 {
  margin-top: 350px !important;
  min-height: 300px;
  @media screen and (max-width: 700px) {
    margin-top: 520px !important;
  }
  section {
    margin-top: -110px;
  }
}
