@import "src/assets/styles/libs/vars";

.previousButton {
  background-color: cyan;
}
.quotes {
  width: 100%;
  min-height: 250px;
  margin-top: 12em;
  background-color: $quotesBackground;
  //   overflow: hidden;
  //   margin: 0 auto;
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 3em;
      color: $grey;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      @media screen and(hover:hover) {
        &:hover {
          //   transform: scale(1.15);
          color: $black;
        }
      }
    }
  }
  .quotesContainer {
    width: 100%;
    max-width: 750px;
  }
}
