@import "~assets/styles/libs/placeholders";

.SingularProjectItemContainer {
  padding: 20px;
  .SingularProjectItem {
    border-radius: 15px;
    @extend %cardboxshadow;
    width: 33.3333%;
    min-width: 280px;
    padding-bottom: 7px;
    .image{
        height: 150px;
        width: 100%;
        background-position:center;
        background-size: cover;
    }
    h3{
        text-align: center;
        font-weight: 500;
        font-size: 21px;
    }
    .meta{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 10px;
        .projectInfo{
          border-radius: 20px;
          color:#fff;
          &.onprogress{
            background-color: yellow;
          }
          &.success{
            background-color: green;
          }
          &.ontest{
            background-color: blue;
          }
        }
    }
  }
}
