@import "~assets/styles/libs/vars";

.projectContent {
  p {
    max-width: 920px;
    margin: 0 auto 20px;
    padding: 10px 20px;
  }
  .members{
      max-width: 1080px;
      margin: auto;
      .singleMember{
          width: 100%;
      }

  }
}
