@import "src/assets/styles/index.scss";
.contactUs {
  min-height: 550px;
  * {
    box-sizing: border-box !important;
  }
  background: $purple;
  @extend %curvedBorderRadius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  top: -2em;
  z-index: 1;
  padding: 4em 10em;
  h2 {
    text-align: center;
    color: white;
    margin: 2em 0;
  }
  .formContainer {
    position: absolute;
    bottom: -280px;
    width: 70%;
    @extend %purpleBoxShadow;
    padding: 3em;
    &,
    > *,
    fieldset {
      display: flex;
    }

    background: white;
    border-radius: 25px;
    form {
      &,
      fieldset {
        margin: 0;
      }
      width: 45%;
      fieldset {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        border: none;
        i {
          font-size: 1.5em;
        }
        > * {
          margin: 1em 0;
          width: 100%;
          padding: 1em;
          font-size: 0.9em;
        }
        legend {
          width: 100%;
          text-align: center;
          font-weight: bold;
          padding: 0;
          margin-bottom: 0;
        }

        textarea {
          resize: none;
          border: none;
          min-height: 200px;
        }
        label,
        textarea {
          background-color: $gallery;
          border-radius: $ellipseBorderRadius;
        }
        label {
          display: flex;
          align-items: center;
          i {
            margin-left: 1em;
          }
          input {
            all: unset;
          }
        }
        button {
          all: unset;
          cursor: pointer;
          color: white;
          background-color: $purple;
          border-radius: $ellipseBorderRadius;
          padding: 1em 2em;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2em;
          i {
            margin-right: 1em;
          }
        }
      }
    }
    .contactInformation {
      &,
      .infoContainer > div {
        display: flex;
      }
      flex-direction: column;
      align-items: center;
      flex: 1 auto;
      .headerPicture,
      .image {
        @extend %backgroundDefaultStyles;
      }
      .headerPicture {
        width: 100%;
        height: 100%;
      }

      .infoContainer {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2em;
        padding: 1em;
        > div {
          align-items: center;
          justify-content: flex-start;
          p {
            margin: 0 1em 0 0;
          }
        }
        .image {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
