  /* mahboube mehravar fonts */
  @font-face {
    font-family: 'Vazir';
    font-weight: 200;
    src: url('./Vazir/Vazir-Thin-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Thin-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Thin-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Thin-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 300;
    src: url('./Vazir/Vazir-Light-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Light-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Light-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Light-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 400;
    src: url('./Vazir/Vazir-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 500;
    src: url('./Vazir/Vazir-Medium-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Medium-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Medium-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Medium-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 600;
    font-style: bold;
    src: url('./Vazir/Vazir-Bold-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Bold-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Bold-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Bold-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 700;
    src: url('./Vazir/Vazir-Black-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Black-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Black-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Black-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }